<v-app>
  <v-toolbar dark fixed app>
    <v-toolbar-title v-on:click="toHome()">Application</v-toolbar-title>
    <v-spacer></v-spacer>

    <v-btn class="login_register_btn mx-1"
           v-if="!isUserAuthorized"
           v-on:click="toLogin()">
      <v-icon>recent_actors</v-icon>
      <span class="ml-1">Login/Register</span>
    </v-btn>

    <v-menu open-on-hover bottom offset-y v-if="isUserAuthorized">
      <v-btn class="login_register_btn mx-1"
             v-if="isUserAuthorized"
             slot="activator"
             >
        <v-icon>account_box</v-icon>
        <span class="ml-1">{{currentUser.name}} ( {{currentUser.id}} )</span>
      </v-btn>

      <v-list>
        <v-list-tile @click="">
          <v-list-tile-title>Settings</v-list-tile-title>
        </v-list-tile>
        <v-list-tile @click="">
          <v-list-tile-title>Logout</v-list-tile-title>
        </v-list-tile>
      </v-list>
    </v-menu>


  </v-toolbar>

  <v-content>
    <v-container fluid>
      <router-view></router-view>
    </v-container>
  </v-content>

  <v-footer dark app>
    <span class="white--text">&copy; 2018</span>
  </v-footer>

  <v-snackbar
    :timeout="timeout"
    :color="snackBarColor"
    :multi-line="mode === 'multi-line'"
    :vertical="mode === 'vertical'"
    v-model="snackBarShowStatus"
  >
    {{ snackBarText }}
    <v-btn dark flat @click.native="hideSnackBar()">Close</v-btn>
  </v-snackbar>
</v-app>
