<v-container grid-list-md>

  <currency-preview-dialog
    v-bind:currency="selectedCurrency"
    v-bind:state.sync="currencyPreviewDialogState">
  </currency-preview-dialog>

  <v-layout row wrap>
    <v-flex xs12>
      <v-card>
        <v-card-title>
          <v-btn color="error" v-on:click="changeTheFirst()">Test</v-btn>
          <v-spacer></v-spacer>
          <v-text-field
            append-icon="search"
            label="Search"
            single-line
            hide-details
            v-model="search"
          ></v-text-field>
        </v-card-title>
      </v-card>
    </v-flex>
  </v-layout>

  <v-container v-if="loading">
    <v-progress-circular indeterminate color="primary"></v-progress-circular>
  </v-container>

  <v-data-table
    v-if="!loading"
    v-bind:headers="headers"
    v-bind:items="currencyList"
    v-bind:loading="loading"
    v-bind:search="search"
    v-bind:pagination.sync="pagination"
    v-bind:rows-per-page-items="paginationFilter"
    class="elevation-1"
  >
    <template slot="items" slot-scope="props">
      <tr class="tr-td-padding" v-on:click.stop="openDialog(props.item)">
        <td>{{ props.item.rank }}</td>
        <td>
          <span>{{ props.item.newName || props.item.name }}</span>
          <span class="grey--text text-darken-2">{{ props.item.symbol }}</span>
        </td>
        <td class="text-xs-right">{{ props.item.price_usd | currency }}</td>
        <td class="text-xs-right">{{ props.item.market_cap_usd | currency }}</td>

        <td class="text-xs-right">
          <img class="img-border" v-bind:src="props.item.imageSrc" v-bind:alt="props.item.id">
        </td>
      </tr>
    </template>

    <template slot="pageText" slot-scope="{ pageStart, pageStop }">
      From {{ pageStart }} to {{ pageStop }}
    </template>
  </v-data-table>

</v-container>
