<v-tabs v-model="active" centered fixed>
  <v-tabs-bar class="mb-5">

    <v-tabs-item
      v-for="tab in tabs"
      :key="tab"
      :href="'#' + tab"
      ripple
    >
      {{ tabsOption[tab].name }}
    </v-tabs-item>

    <v-tabs-slider color="red"></v-tabs-slider>

  </v-tabs-bar>

  <v-tabs-items>

    <v-tabs-content
      v-for="tab in tabs"
      :key="tab"
      :id="tab"
    >
      <v-card flat v-if="isLoginTabActive">

        <v-layout row>
          <v-flex xs4 offset-xs4>
            <v-text-field
              name="userId"
              label="Enter User ID"
              id="userId"
            ></v-text-field>
          </v-flex>
        </v-layout>

        <v-layout row>
          <v-flex xs4 offset-xs4>
            <v-text-field
              name="userPassword"
              label="Enter User Password"
              id="userPassword"
            ></v-text-field>
          </v-flex>
        </v-layout>

        <v-layout row>
          <v-flex xs12 class="text-xs-center">
            <v-btn color="primary">Login</v-btn>
          </v-flex>
        </v-layout>


      </v-card>

      <v-card flat v-if="isRegisterTabActive">
        <v-card-text>Register Tab</v-card-text>
      </v-card>

    </v-tabs-content>
  </v-tabs-items>
</v-tabs>
